{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">What is CreditCar?</h1>
  <p class="lead">CreditCar is a stock and finance management system for dealers and a website where customers can browse a dealer's vehicles and apply for finance. </p>
  <p class="lead">We make it easy for anyone to browse a dealer's vehicle stock and apply for finance on any car they choose! Dealers can also see and edit their stock
  and view finance applications on their vehicles.</p>
  <p class="lead">CreditCar is based in Auckland, New Zealand. </p>
</div>
</div>
<br>
<div class="container">
<div id="map-canvas"></div>
</div>

{% endblock %}